<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @content.date %>
</p>

<!-- 追加箇所 開始 -->
<p>
<strong>Image:</strong>
<% if @content.image? %>
  <div class="thumbnail">
  <%= image_tag @content.image.url %>
</div>
<% end %>
</p>
<!-- 追加箇所 終了 -->

<%= link_to '投稿を編集する', edit_content_path(@content) %> |
<%= link_to '戻る', contents_path %>
