<div class="container">
  <div class="row">
    <div class="c-box col-sm-8 col-sm-offset-2 text-left" style="background-color:white;padding:20px;margin-top:20px; margin-bottom:20px;">
      <p id="notice"><%= notice %></p>
      <h4 style="border-bottom:1px solid #3d3935;">お知らせ</h4>
          <% @contents.each do |content| %>
            <div class="text-left" style="padding-top:20px;">
              <%= content.date %>
              <h4 class=""><%= content.title %></h4>
            </div>
            <div class="">
              <% if content.image? %>
                <div class="thumbnail" style="">
                  <%= image_tag(content.image.url,:class =>"c-image",:style =>"") %>
                </div>
              <% end %>
            </div>
              <div class="text-left" style="border-bottom:20px;">
                <p>
                  <%= content.text %>
                </p>
              </div>
          <% end %>
    </div>
  </div>
</div>
